.txt-global {
  height: 40px;
  width: 500px;
  margin-top: 15px;
  margin-left: 20px;
}
.txt-password {
  height: 40px;
  width: 500px;
  margin-top: 15px;
  margin-left: 20px;
}
.txt-quantity {
  display: block;
  height: 30px;
  width: 200px;
  margin: 10px;
}
.quantity-amount {
  display: block;
  width: 110px;
  margin: 10px;
}
textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #000;
}

/*Contact*/
.txt-cont {
  height: 40px;
  width: 520px;
}
