*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

//Text Colors
$text-color: #ffffff;
$default-color: #000000;

//Background Color
$bg-color: #d42e2e;

//Hover Background Color
$bg-color-hover: #b63a3a;

//Centering
