.box-product{
    height: 230px;
    width:440px;
    border: 2px solid black;
}

.box-cart{
    height: 250px;
    width:260px;
    padding:10px;
    border: 2px solid black;
}

.box-menus{
    height: 170px;
    width: 500px;
    border: 2px solid black;
    color: $text-color;
    padding: 1em;
    font-size: 20px;
}


